**.idea
log.txt
/.gradle
/target
/out
/build
/core/build
*.swp
/*.iml
/target/classes/BsVisi/Utilities/*.class
*.class
visi5-1.0-SNAPSHOT
classes
default-compile
*.war
/.nb-gradle/
/backend/build/
/cli/build/tmp/compileJava/
/buildSrc/build/
/buildSrc/.gradle/
/backend/secure-chat.log
/secure-chat.log
